@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;   
}
.container {
    background: url(../img/bg1.png) center (center/cover) no-repeat; 
    max-width: 950px;
    min-height: 350px;
    margin: 0 auto;
}